.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #000000;
}
.feinman__link:hover {
    color: #2F80ED;
    opacity: .3;
    transition: .3s;
}
